<!DOCTYPE html>
<html>
<link>
<meta charset="UTF-8">
<title>{% block title %}Solway consulting service{% endblock %}</title>
{# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">



{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{{ (( 'absolute_url(asset((../../../../bundles/app/images/index.jpeg)')) }}" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <li>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">solway</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href=""role="button">qui sommes nous!</a>
                <a class="dropdown-item" href="#"role="button">Another action</a>
                <a class="dropdown-item" href="#"role="button">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
        <li >
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/formation" role="button" aria-haspopup="true" aria-expanded="false">fromations</a>
        </li>


        <li >
            <a class="nav-link dropdown-toggle"  href="/register" role="button" aria-haspopup="true" aria-expanded="false">creer un compte</a>

    </div>
    </li>

    <li >
        <a class="nav-link dropdown-toggle"  href="/login" aria-haspopup="true" aria-expanded="false">connexion</a>

    </li>

    <li>
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/panier" role="button" aria-haspopup="true" aria-expanded="false">panier</a>

    </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>