{% extends 'formation/index.html.twig' %}

{% block title %}Proceder au paiment
{% endblock %}

{% block body %}

    <div class="bg-light p-3">
        <h1> Paiment</h1>
    </div>



    {% if items | length >0 %}
        <table class="table" >
            <thead>
            <tr>
                <th>formation</th>
                <th>prix</th>
                <th>quantité</th>
                <th>total</th>

            </tr>

            </thead>
            <tbody>
            {% for item in items %}
                <tr>

                    <td>{{  item.formations.nom}} </td>
                    <td>{{  item.formations.prix}} euro</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.quantity *item.formations.prix }} euro</td>
                    <td><a
                                href="#" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"> </i>
                        </a> </td>

                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>votre panier est vide</p>

    {% endif %}

    <a href="/login">connexion</a>
    <a href="/register">crrer un compte</a>


{% endblock %}