{% extends 'formation/index.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}

    <div class="bg-light p-3">
        <h1>proceder au paiment </h1>
    </div>



    {% if items | length >0 %}
        <table class="table" >
            <thead>
            <tr>
                <th>formation</th>
                <th>quantité</th>
                <th>total</th>


            </tr>

            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{  item.formations.nom}} </td>
                    <td>{{  item.quantity}} </td>
                    <td>{{ item.quantity }}</td>
                    <td><a
                                href="#" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"> </i>
                        </a> </td>

                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Surprise, c'est vide !</p>

    {% endif %}

    <a href="/login">connexion</a>
    <a href="/register">crrer un compte</a>


{% endblock %}